.oneLine {
    font-size: clamp(1rem, 5vw, 2rem) !important;
    /*  La fonction clamp ajuste dynamiquement la taille du texte 
    entre 1rem et 3rem en fonction de la largeur de la fenêtre (4vw = 4% de la largeur de la fenêtre). */
}
#bgTOP  {
    background-image: url(../Images/Baie_Rouge.jpg);
    background-position: 50% 38%;
    background-repeat: no-repeat;
}


.test {
    border: solid 1px green !important;
}


 
/* FONCTIONNE PAS SUR FIREFOX */
::-webkit-scrollbar-track {
    background-color: #ff0000;
}
::-webkit-scrollbar {
    height: 6px;
    background-color: #ff00bf;
}
::-webkit-scrollbar-thumb {
    background-color: #09ff00;
    border-radius: 3px;
}



@media (max-width: 768px){
    body {
        background-image: url(../Images/Baie_Rouge.jpg);
        background-position: top;
        background-repeat: no-repeat;
    }
    #bgTOP { 
        background-image: none;
    }
}